extends ../layout
block content
	.mt-5(data-ng-init="setRoute('"+root+"')")
		div(data-ng-init="getSingle('"+_id+"')")
			.row
				.col-4.col-sm-12.col-lg-4
					picture(data-ng-if="data.images&&data.images.length>0")
						source(type="image/webp",srcset="/images/"+root+"/{{data._id+'/'+data.images[0].webp}}")
						img.img-fluid(data-ng-src="/images/"+root+"/{{data._id+'/'+data.images[0].filename}}")
				.col-8.col-sm-12.col-lg-8
					h2.text-primary(data-ng-bind="data.name")
					p
						strong.mr-1 Status:
						span.text-success(data-ng-if="data.active") Active
						span.text-warning(data-ng-if="!data.active") inactive
					p(data-ng-if="data.code")
						strong.mr-1 Code:
						span.text-primary(data-ng-bind="data.code")
					p.mt-3(data-ng-if="data.description")
						strong.mr-1 Description:
						span(data-ng-bind="data.description")