extends ../../../../views/layout
block content
	.mt-5(data-ng-init="setRoute('"+root+"')")
		div(data-ng-init="getSingle('"+_id+"')")
			.row
				.col-4.col-sm-12.col-lg-4
					img.img-fluid(data-ng-if="data.images&&data.images.length>0",data-ng-src="/images/"+root+"/{{data._id}}/{{data.images[0].filename}}")
				.col-8.col-sm-12.col-lg-8
					h5(data-ng-bind="data.name")
					h6.small.text-muted
						span.mr-1 code:
						span(data-ng-bind="data.code")
					div
						span.text-muted.mr-1 prince:
						strong.mr-1(data-ng-if="data-price>0",data-ng-bind="data.price | currency:'':2")
						small(data-ng-if="data-price>0") €
						small.mr-1.text-muted(data-ng-if="!(data-price>0)") n/a
					p.mt-4 {{data.description}}