extends layout
block content
	.row
		.col-12.col-lg-4
		.col-12.col-lg-4
			.my-4(data-ng-init="setRoute('"+root+"')")
				h1.h2.text-center.pb-5 Administrator Login
				.alert.py-1.alert-info(role="alert",data-ng-show="message.info")
					strong.mr-1 Info:
					span(data-ng-bind="message.info")
				.alert.py-1.alert-success(role="alert",data-ng-show="message.success")
					strong.mr-1 Success:
					span(data-ng-bind="message.success")
				.alert.py-1.alert-danger(role="alert",data-ng-show="message.danger")
					strong.mr-1 Danger:
					span(data-ng-bind="message.danger")
				form(data-ng-submit="administratorLogin()")
					.form-group
						label.text-capitalize(for='login-email') Email
						input.form-control(type='email',id='login-email',data-ng-model="data.email",placeholder="Administrator's E-mail",autocomplete="email")
					.form-group
						label.text-capitalize(for='login-password') Password
						input.form-control(type='password',id='login-password',data-ng-model="data.password",placeholder="Administrator's Password",autocomplete="current-password")
					.text-right.pt-3
						button.btn.btn-primary(type='submit',ng-disabled="disabled")
							i.fas.fa-key.mr-2
							strong Sign In
		.col-12.col-lg-4