nav.navbar.navbar-expand-lg.navbar-light.bg-light
	a.navbar-brand(href='#') Navbar
	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	#navbarSupportedContent.collapse.navbar-collapse
		ul.navbar-nav.mr-auto(data-ng-if="token")
			li.nav-item.active
				a.nav-link(href='/administrator') Home
			if menu
				each m in menu
					li.nav-item.active.text-capitalize
						a.nav-link(href='/administrator/'+m)=m
		ul.navbar-nav.ml-auto(data-ng-if="token")
			li.nav-item.active
				a.nav-link(href='/administrator/administrator/signOut',data-ng-click="signOut()") Sign Out